.ui-datatable {
    margin-bottom: 25px;
}

.ui-datatable-header, .ui-datalist-header, .ui-dialog-titlebar{
    text-shadow: none;
    background: #c1d1f0;

}

.first-column {
    width: 75%;
}

.secon-column {
    width: 25%;
}

.top-alignment {
    vertical-align: top;
}

.ui-menubar{
    margin: 0px;
    background: #c1d1f0;
}

.font-color-green{
    color: green;
}

.font-color-red{
    color: red;
}
